.App-header{
  background-color: rgb(26, 140, 255) ;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 70px;
  width: 70px;
border-radius: 50%;
}
.nav{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.containerMain{
  position: relative;
 
}
.containerMain h2 {
  position: absolute;
  top: 30%;
  left: 1%; 
  padding: 10px;
  width: 40%;
  height: 200px;
  color: rgb(21, 123, 226);
  line-height: 50px;
}
.containerMain h2 h1 {
  border: 1px solid rgb(112, 153, 194);
  padding: 6px;
  text-align: left; 
  background: linear-gradient(90deg, rgba(122,145,230,1) 0%, rgba(89,85,193,1) 35%, rgba(22,22,231,1) 100%);
  color: white;
  border-radius: 10px;
}
.userName{
  color: white;
  z-index: 10px;
}
/*/////////////////////////login & register////////////////*/ 
.container-login{
  width: 85%;
  margin: auto;
  border: 1px solid rgb(26, 140, 255);

  background-color: rgb(247, 244, 244);
  padding: 20px;
  font-weight: bold;
}
.form-section form .inp{
  display: block;
  width: 100%;
  margin: 5px 0px;
  height: 30px;
  border: 1px solid rgb(70, 162, 254);
  padding: 5px;
  outline: none;
}
.form-section form span{
  color: gray;
}
.btn{
  width: 100px;
}
/*///////////////////////////////////////////////products*/
.container{
/*   background-color: gray; */
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.card-body{
  background-color: rgb(148, 197, 246);
  width: 100%;  
}
.card .card-body {
  color: white;
}
.cartFav{
  display: flex;
  justify-content: space-between;
}
.card{
  height: 300px;
}
/*////////////////////////add to cart///*/
.counter{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  display: inline;
 
}